<h1>Edit page</h1>
<div class="container">
	<div class="row">
		<%= render 'users/left_nav' %>
		<div class="span6 offset2">
			<%= form_for @user, class: "form-horizontal well" do |f| %>
				<%= render 'shared/error_messages' %>
				<fieldset>
					<legend>EDIT</legend>
					<%= f.label :name %>
					<%= f.text_field :name %>
					
					<%= f.label :email %>
					<%= f.text_field :email %>
					<%= f.submit "Save changes", class: "btn" %>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>