<h1>Edit page</h1>
<div class="container">
	<div class="row">
		<%= render 'users/left_nav'%>
		<div class="span6 offset2">
			<%= form_for @user ,:url => url_for(:controller => 'users',:action =>'update_password'),class: "form-horizontal well" do |f| %>
				<%= render 'shared/error_messages' %>
				<fieldset>
					<legend>Change password </legend>
					<%= f.label :current_password, "Current password"%>
					<%= password_field_tag :current_password, params[:current_password], placeholder: "Current password" %>
					
					<%= f.label :password, "New password" %>
					<%= f.password_field :password %>

					<%= f.label :password_confirmation, "Confirm new password" %>
					<%= f.password_field :password_confirmation %>

					<%= f.submit "Save changes", class: "btn" %>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>