<h1>User list</h1>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<% if current_user.admin?%>
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="center">
						<th>#</th>
						<th>Username</th>
						<th>Email</th>
						<th>....</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<th><%= user.id %></th>
							<th><%= user.name %></th>
							<th><%= user.email %></th>
							<th><%= link_to "Edit", edit_user_path(user)%> | <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"}%> </th>
						</tr>
					<% end %>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
