<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag "application", media: "all" , "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" =>true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render "layouts/header"%>
	<div class="container">
		<%= yield %>
		<hr>
		<%= render "layouts/footer" %>
		<%= debug(params) if Rails.env.development? %>
	</div>


</body>
</html>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="nav navbar navbar-fixed-top">
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</header>

<%= yield %>

</body>
</html>
>>>>>>> sign-up
